.omikuji {
  text-align: center;
  padding: 20px;
}
.omikuji-headline {
  margin: 0 0 20px;
}
.omikuji-result {
  font-size: 24px;
  margin-bottom: 20px;
}
.omikuji-button{
  padding: 10px 20px;
   cursor: pointer; /*ボタン上ではマウスカーソルを指マークに指定 */
}
